{{ define "control-form" }}
<div class="flex w-full justify-around max-w-[750px]">
  <form
    id="control-form"
    class="grid grid-flow-row gap-y-0 auto-rows-min"
    hx-include="[id='password']"
    hx-target="#error"
  >
    <div class="min-h-28 px-4 py-2 flex flex-col items-center">
      <div class="flex flex-col">
        <label for="password" class="p-1">Enter Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
          class="border-2 p-1"
        />
      </div>
      <div id="error">{{ block "error-message" . }}{{ end }}</div>
    </div>

    <div class="p-2 flex flex-col md:flex-row md:items-start">
      <div class="flex justify-center items-center">
        {{ block "playerlist-dropdown-ws" . }}{{ end }}
        <input
          id="amount"
          name="amount"
          type="number"
          class="w-20 p-2.5 border-2 text-sm ml-2"
          placeholder="Δ"
        />
      </div>
      <div
        class="flex md:flex-col justify-center md:max-w-40 ml-2 my-2 md:my-1"
        hx-vals='js:{name: document.getElementById("playerlist-dropdown").value}'
      >
        <button
          hx-put="/auth/player"
          hx-vals='js:{amount: document.getElementById("amount").value, action: "update"}'
          class="text-sm text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 me-2 mb-2"
        >
          Add To Score
        </button>
        <button
          hx-put="/auth/player"
          hx-vals='{"action": "clear"}'
          class="text-sm text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 rounded-lg px-5 py-2.5 me-2 mb-2"
        >
          Clear Score
        </button>
        <button
          hx-delete="/auth/player"
          hx-confirm="Are you sure you want to delete this player? This action is permanent."
          class="text-sm text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 me-2 mb-2"
        >
          Remove Player
        </button>
      </div>
    </div>

    <div class="p-2 flex flex-col items-center">
      <button
        hx-post="/auth/reset-buzzers"
        class="text-sm text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 me-2 mb-2 w-40"
      >
        Reset Buzzers
      </button>
      <button
        hx-post="/auth/reset-game"
        hx-confirm="Are you sure you want to reset the game? This action is permanent."
        class="text-sm text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 me-2 mb-2 w-40"
      >
        Reset Game
      </button>
    </div>
  </form>
</div>
{{ end }}
