{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia App</title>
    <link rel="icon" type="image/x-icon" href="/public/icon.jpg" />
    <link href="/public/output.css" rel="stylesheet" />
    <script src="/public/htmx.js"></script>
    <script src="/public/htmx-ws.js"></script>
  </head>

  <body>
    {{ block "popup" . }}{{ end }} {{block "content" .}}{{ end }}
    <script src="/public/play-ws.js"></script>
    <script src="/public/table-ws.js"></script>
    <script src="/public/buzzer.js"></script>
    <script src="/public/popup.js"></script>
    <script src="/public/control.js"></script>
  </body>
  {{ end }}
</html>
